<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>com.hr.pr</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- TODO: remove
    <servlet>
        <servlet-name>MainJsp</servlet-name>
        <jsp-file>/WEB-INF/main.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>PullRequestStatistics</servlet-name>
        <servlet-class>com.hr.pr.servlet.PullRequestStatistics</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainJsp</servlet-name>
        <url-pattern>/main.jsp</url-pattern>
    </servlet-mapping>-->

    <!-- TODO: remove
        <servlet-mapping>
        <servlet-name>PullRequestStatistics</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>
